<div class="container">
  <%# shows product %>
  <div class="jumbotron">
    <h1 class="display-4"><%= @myproduct.name %></h1>
    <h2 class="lead">Price : <%= @myproduct.rate %></h2>

    <hr class="my-4">

    <%= link_to "Edit", edit_myproduct_path(@myproduct), class:"btn btn-primary" %> <br> <br>
    <%= button_to "Delete", myproduct_path(@myproduct), class:"btn btn-secondary" ,method: :delete, data: {confirm: "Are you sure?"} %> <br>
    <%= link_to "Return to Product Listing", myproducts_path, class:"btn btn-info" %>
  </div>
