<div class="container">
  <h1>Categories Available</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product|%>
      <tr>
        <td><%= product.product_name%></td>
        <td><%= product.price%></td>
        <td><%= product.description%></td>
        <td><%= link_to "Show", test_product_path(product)%></td>
        <td><%= link_to "Edit", edit_test_product_path(product)%></td>
        <td><%= button_to "Delete", test_product_path(product), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-secondary"%></td>
      </tr>
      <% end%>
    </tbody>
  </table>

  <p><%= link_to "Add new Product", new_test_product_path, class:"btn btn-primary" %></p>
</div>
  