<div class="container">
  <h1>Create a new Employee</h1>

  <% if @employee.errors.any? %>
    <h2> The following error(s) prevented the Book from being saved </h2>
    <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with scope: :employee, url:employees_path, local: true do |f| %> 
    
    <div class="field form-group">
      <%= f.text_field :firstname, class:"form-control", placeholder:"First Name"%>
    </div><br>

    <div class="field form-group">
      <%= f.text_field :lastname, class:"form-control", placeholder:"Last Name" %>
    </div><br>

    <div class="field form-group">
      <%= f.text_field :email, class:"form-control", placeholder:"Email"%>
    </div><br>

    <div class="field form-group">
      <%= f.text_field :age, class:"form-control", placeholder:"Age"%>
    </div><br>

    <div class="field form-group">
      <%= f.text_field :no_of_order, class:"form-control", placeholder:"Number of Order"%>
    </div><br>

    <div class="field form-group">
      <%= f.label :Are_you_full_time_available_? %>
      <%= f.select :full_time_available, ['Yes','No'], class:"form-control"%>
    </div><br>

    <div class="field form-group">
      <%= f.text_field :salary, class:"form-control", placeholder:"Salary"%>
    </div><br>

    <div class="action">
      <%= f.submit class:"btn btn-primary" %>
    </div><br>
      
  <% end %>

  <%= link_to "Return to Employees Listing", employees_path, class:"btn btn-info" %>
<div>
