<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= @employeen.employee_name %></h1>
    <p class="lead"><%= @employeen.email %></p>
    <hr class="my-4">
    <p><%= @employeen.gender %></p>
    <p><%= @employeen.hobbies %></p>
    <p><%= @employeen.eaddress.house_name %></p>
    <p><%= @employeen.eaddress.street_name %></p>
    <p><%= @employeen.eaddress.road %></p>
       <p><%= @employeen.address %></p>
    <p><%= @employeen.mobile_number %></p>
    <p><%= @employeen.birth_date %></p>
  
    <p class="lead">
      <%= link_to "edit", edit_employeen_path(@employeen), class:"btn btn-info" %>
      <%= link_to "Return to Employee Listing Page", employeens_path, class:"btn btn-primary" %>

    </p>
  </div>
</div>