<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= @employeen.employee_name %></h1>
    <p class="lead"><%= @employeen.email %></p>
    <hr class="my-4">
    <p><%= @employeen.gender %></p>
    <p><%= @employeen.hobbies %></p>
    <p><%= @employeen.address %></p>
    <p><%= @employeen.mobile_number %></p>
    <p><%= @employeen.birth_date %></p>
  
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>