<div class="container">
<br>

  <%# list all orders %>
  <h1>Orders List</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% @myorders.each do |order|%>
      <tr>
        <td><%= order.id%></td>
        <td><%= order.myproduct.name%></td>
        <td><%= order.quanity%></td>
        <td><%= link_to "Show", myorder_path(order), class:"btn btn-info" %></td>

        <% if current_myuser.role == "admin" %>
          <td><%= link_to "Edit", edit_myorder_path(order), class:"btn btn-secondary" %></td>
          <td><%= button_to "Delete", myorder_path(order), class:"btn btn-danger", method: :delete, data: { confirm: "Are you sure?" }%></td>
        <% end %>
      </tr>
      <% end%>
    </tbody>
  </table>

  <% if current_myuser.role == "admin" %>
    <p><%= link_to "Place new Order", new_myorder_path, class:"btn btn-primary" %></p>
  <% end %>
</div>
