<div class="container">
  <h1>Authors</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date</th>
        <th>Email id</th>
        <th>Books</th>
      </tr>
    </thead>
    <tbody>
      <% @authors.each do |author|%>
      <tr>
        <td><%= author.first_name%></td>
        <td><%= author.last_name%></td>
        <td><%= author.dob%></td>
        <td><%= author.email%></td>
        <td>
        <% author.books.each do |book| %>
          <ul>
            <li><%= link_to book.name, book_path(book) %></li>
          </ul>
        <% end %>
        </td>
        <td><%= link_to "Show", author_path(author)%></td>
        <td><%= link_to "Edit", edit_author_path(author)%></td>
        <td><%= button_to "Delete", author_path(author), method: :delete, data: { confirm: "Are you sure?" }%></td>
      </tr>
      <% end%>
    </tbody>
  </table>

  <p><%= link_to "Add new Author", new_author_path, class:"btn btn-primary" %></p>
</div>
  