<div class="container">
  <h1>Edit User Profile</h1>

  <%# prints error messages %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%# for for editing user %>
  <%= form_with(model: @user,local: true) do |f| %> 
    
    <div class="field form-group">
      <%= f.text_field :username, class:"form-control", placeholder:"Enter your Usename"%>
    </div><br>

    <div class="field form-group">
      <%= f.email_field :email, class:"form-control", placeholder:"Enter Email"%>
    </div><br>

    <div class="field form-group">
      <%= f.password_field :password, class:"form-control", placeholder:"Choose a Password"%>
    </div><br>
    

    <div class="action">
      <%= f.submit "Update Account", class:"btn btn-primary" %>
    </div><br>
      
  <% end %>

  <%= link_to "Cancel signup", signup_path, class:"btn btn-info" %>
<div>
