<p class="row justify-content-md-center mt-4"><%= link_to "CRETATE NEW EVENT", new_event_path, class:"btn btn-info" %></p>

<h1 class="text-center mt-4">Events List</h1>

<div class="container">
<% @events.each do |event|%>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow  mb-5 bg-white rounded">
        <div class="card-header font-italic">
          by user
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to event.name, event_path(event), class:"text-success" %></h5>
          <p class="card-text">Date : <%= event.event_date%></p>
          <p class="card-text"><%= truncate(event.description, length: 100)%></p>

          <%= link_to "View", event_path(event), class:"btn btn-success"%>
          <%= link_to "Edit", edit_event_path(event), class:"btn btn-primary"%>
          <%= link_to "Delete", event_path(event), class:"btn btn-danger"%>
          
          </div>
        <div class="card-footer text-muted">
          <small> listed <%= time_ago_in_words(event.created_at)%>ago, edited <%= time_ago_in_words(event.updated_at)%> ago </small>
        </div>
      </div>
    </div>
  </div>  
<% end %>
</div>

 