<div class="container">
  <h1>Create a new Customer</h1>

  <% if @customer.errors.any? %>
    <h2> The following error(s) prevented the Book from being saved </h2>
    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with scope: :customer, url:customers_path, local: true do |f| %> 
    
    <div class="field form-group">
      <%= f.text_field :firstname, class:"form-control", placeholder:"Enter First Name"%>
    </div><br>

    <div class="field form-group">
      <%= f.text_field :lastname, class:"form-control", placeholder:"Enter Last Name"%>
    </div><br>
 
    <div class="field form-group">
      <%= f.text_field :phone, class:"form-control", placeholder:"Enter phone number" %>
    </div><br>

    <div class="field form-group">
      <%= f.text_field :email, class:"form-control", placeholder:"Enter Email"%>
    </div><br>

    <div class="action">
      <%= f.submit class:"btn btn-primary" %>
    </div><br>
      
  <% end %>

  <%= link_to "Return to Faculties Listing", customers_path, class:"btn btn-info" %>
<div>
