<div class="container">
  <br><br>
  <%= form_tag orders_path, :method => 'get' do %>
  <p>
  <%= text_field_tag :search, params[:search], placeholder:'Search by order status' %>
  <%= submit_tag "Search" %>
  </p>
  <% end %>

  <%= form_tag orders_path, :method => 'get' do %>
    <p>
    <%= text_field_tag :product_name, params[:product_name], placeholder:'Search by product name' %>
    <%= submit_tag "Search" %>
    </p>
  <% end %>
    
  <% if flash[:notice] %>
    <% flash.each do |name, msg| %>
    <span style="color:red;"> <%= msg %> </span>
  <% end %>
  <% end %><br>
    <%if !(params[:product_name].blank?) %>
    <table class="tabl" >
      <thead>
        <tr>
          <th>Product Name</th>
        <th>Order ID</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    <% @orders_by_product.each do |order| %>
    <tr>
    <td><%= order.product.title %></td>
    <td><%= order.id %></td>
    <td><%= order.quantity %></td>
    <td><%= order.total_price %></td>
    <td><%= order.status %></td>
    </tr>
    <% end %>
    </tbody>
    </table>
    <% end %>

  <h1>Orders</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Customer</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order|%>
      <tr>
        <td><%= order.product.title %></td>
        <td><%= order.quantity %></td>
        <td><%= order.total_price %></td>
        <td><%= order.status%></td>
        <td><%= order.customer.firstname + " " + order.customer.lastname%></td>
        
        <td><%= link_to "Show", order_path(order)%></td>
        <td><%= link_to "Edit", edit_order_path(order)%></td>
        <td><%= button_to "Delete", order_path(order), method: :delete, data: { confirm: "Are you sure?" }%></td>
      </tr>
      <% end%>
    </tbody>
  </table>

  <p><%= link_to "Add new Order", new_order_path, class:"btn btn-primary" %></p>
</div>
  