<div class="container">
  <div class="jumbotron">
    
      <h1 class="display-4"><%= @order.product.title %></h1>
      <h2 class="lead">Toatl Pieces: <%= @order.quantity %></h2> 
      <p class="lead">Toatl Price: <%= @order.total_price %></p>

      <hr class="my-4">
    
      <p class="lead"> Order Staus:  <%= @order.status %></p>
      <p class="lead"> Customer Name:  <%= @order.customer.firstname + " " + @order.customer.lastname %></p>

    <%= link_to "Edit", edit_order_path(@order), class:"btn btn-primary" %> <br> <br>
    <%= button_to "Delete", order_path(@order), class:"btn btn-secondary" ,method: :delete, data: {confirm: "Are you sure?"} %> <br>
    <%= link_to "Return to Order Listing", orders_path, class:"btn btn-info" %>
  </div>
</div>
