<div class="container">
	<h1>Create a new Book</h1>

	<% if @book.errors.any? %>
		<h2> The following error(s) prevented the Book from being saved </h2>
		<ul>
			<% @book.errors.full_messages.each do |msg| %>
				<li> <%= msg %> </li>
			<% end %>
		</ul>
	<% end %>

	<%= form_with scope: :book, url:books_path, local: true do |f| %> 
		
		<p>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</p>

		<p>
			<%= f.label :price %>
			<%= f.number_field :price %>
		</p>

			<p>
					<%= f.label :author%>
					<%= f.select :author_id, Author.all.map { |t| [t.first_name+ " " +t.last_name, t.id]}%>
			</p>

		<p>
			<%= f.submit %>
		</p>
			
	<% end %>

	<%= link_to "Return to Books Listing", books_path, class:"btn btn-info" %>
<div>