<div class="container">
  <h1>Categories Available</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category|%>
      <tr>
        <td><%= category.name%></td>
        <td><%= link_to "Show", category_path(category)%></td>
        <td><%= link_to "Edit", edit_category_path(category)%></td>
        <td><%= button_to "Delete", category_path(category), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-secondary"%></td>
      </tr>
      <% end%>
    </tbody>
  </table>

  <p><%= link_to "Add new Category", new_category_path, class:"btn btn-primary" %></p>
</div>
  