<div class="container">
  <h1>Create a new Category</h1>

  <% if @category.errors.any? %>
    <h2> The following error(s) prevented the Category from being saved </h2>
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with scope: :category, url:categories_path, local: true do |f| %> 
    
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit %>
    </p>
      
  <% end %>

  <%= link_to "Return to Categories Listing", categories_path, class:"btn btn-info" %>
<div>
