<div class="container">
  <h1>Create a new Product</h1>

  <% if @product.errors.any? %>
    <h2> The following error(s) prevented the Book from being saved </h2>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with scope: :product, url:products_path, local: true do |f| %> 
    
    <div class="field form-group">
      <%= f.text_field :title, class:"form-control", placeholder:"Enter Title"%>
    </div><br>

    <div class="field form-group">
      <%= f.text_field :description, class:"form-control", placeholder:"Enter Description" %>
    </div><br>

    <div class="field form-group">
      <%= f.text_field :price, class:"form-control", placeholder:"Enter Price"%>
    </div><br>

    <div class="field form-group">
      <%= f.text_field :capacity, class:"form-control", placeholder:"Enter Capacity"%>
    </div><br>

    <div class="field form-group">
       <%= f.label :is_Order_Active? %>
      <%= f.select :is_active, ['Yes','No'],class:"form-control"%>
    </div><br>

    <div class="field form-group">
      <%= f.label :What_is_the_status_of_order? %>
      <%= f.select :status, ['In Stock', 'Out Of Stock', 'Coming Soon'], class:"form-control", placeholder:"Enter Capacity"%>
    </div><br>

    <div class="action">
      <%= f.submit class:"btn btn-primary" %>
    </div><br>
      
  <% end %>

  <%= link_to "Return to Faculties Listing", products_path, class:"btn btn-info" %>
<div>
