<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4"><%= @product.productname %></h1>
  <hr class="my-4">
  <p>$<%= @product.productprice %></p>
  <p>$<%= @product.discount %>% OFF</p>
</div>

<%= link_to 'Edit', edit_product_path(@product), class:"btn btn-secondary"%>  
<%= link_to 'Back', products_path, class:"btn btn-secondary" %>

